<!-- admin-layout.component.html -->
<div class="dashboard">
  <!-- Sidebar -->
  <nav class="sidebar">
    <div class="logo">
      <a [routerLink]="['']"><img src="../../../../../assets/logo/dark/logo-long-dark.svg" alt=""></a>
    </div>
    <ul class="nav-links">
      <li routerLinkActive="active-link">
        <a [routerLink]="['/admin/dashboard']">Dashboard</a>
      </li>
      <li routerLinkActive="active-link">
        <a [routerLink]="['/admin/couteaux']">Couteaux</a>
      </li>
      <li routerLinkActive="active-link">
        <a [routerLink]="['/admin/commandes']">Commandes</a>
      </li>
      <li routerLinkActive="active-link">
        <a [routerLink]="['/admin/news']">News</a>
      </li>
      <li routerLinkActive="active-link">
        <a [routerLink]="['/admin/utilisateurs']">Utilisateurs</a>
      </li>
    </ul>
  </nav>

  <!-- Main content -->
  <div class="main-content">
    <header>
      <div class="search-bar">
        <input type="text" placeholder="Search..." />
      </div>
      <div class="profile-section">
        <span class="notification-icon">🔔</span>
        <div class="profile">
          <img src="avatar.jpg" alt="Admin" />
          <span>Moni Roy</span>
        </div>
      </div>
    </header>
    <router-outlet></router-outlet>
  </div>
</div>
