<section>
  <div class="container-produit">
    <div class="container-card">
      <div class="grand">
        <div class="scroll-container">
          <div class="btn-container">
            <button [routerLink]="['/produit', '']" routerLinkActive="active-btn" [routerLinkActiveOptions]="{ exact: true }">Voir Tout</button>
            <button [routerLink]="['/produit', 'cuisine']" routerLinkActive="active-btn">Couteaux de Cuisine</button>
            <button [routerLink]="['/produit', 'outdoor']" routerLinkActive="active-btn">Couteaux Outdoor</button>
            <button [routerLink]="['/produit', 'pliant']" routerLinkActive="active-btn">Couteaux Pliant</button>
            <button [routerLink]="['/produit', 'exception']" routerLinkActive="active-btn">Couteaux D'exception</button>
          </div>
        </div>
        <div class="txt-container">
          <h4>{{ filteredKnives.length }} Couteaux disponibles</h4>
          <p>Ces couteaux sont encore disponibles à la vente.</p>
        </div>
        <div class="row">
          <div class="card" *ngFor="let knife of filteredKnives" (click)="navigateToDetail(knife.id)">
            <div class="card-img" (mouseenter)="showBasket($event)" (mouseleave)="hideBasket($event)">
              <img [src]="'http://localhost:5000/' + knife.images[0]" alt="{{ knife.nom }}">
              <div class="add-basket">
                <a href="">Ajouter au panier</a>
              </div>
            </div>
            <div class="info-container">
              <div class="header-texte">
                <h6>{{ knife.nom }}</h6>
                <h6>{{ knife.prix | currency }}</h6>
              </div>
              <div class="container-info-txt">
                <p class="para">{{ knife.texte }}</p>
                <p class="dimenssion">{{ knife.taille_lame }} cm</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>