<section>
    <div class="container-produit">

        <div class="container-card">
            <div>
                <div class="scroll-container">
                    <div class="btn-container">
                        <button>Voir Tout</button>
                        <button>Couteaux de Cuisine</button>
                        <button>Couteaux Outdor</button>
                        <button>Couteaux D'exception</button>
                    </div>
                </div>
                <div class="row">
                    <!-- Card 1 -->
                    <div class="card">
                        <div class="card-img" (mouseenter)="showBasket($event)" (mouseleave)="hideBasket($event)">
                            <img src="../../../../../../assets/images/couteau/couteau_12.jpg" alt="">

                            <div class="add-basket">
                                <a href="">Ajouter au paniers</a>
                            </div>
                        </div>
                        <div class="info-container">
                            <div class="header-texte">
                                <h6>Nakiri</h6>
                                <h6>$ 3000</h6>
                            </div>
                            <div class="container-info-txt">
                                <p class="para">eu metus vel nunc sodales placerat in in sem. Sed pharetra quis ex ac
                                    pretium.</p>
                                <p class="dimenssion">120/2323</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 1 -->
                    <div class="card">
                        <div class="card-img" (mouseenter)="showBasket($event)" (mouseleave)="hideBasket($event)">
                            <img src="../../../../../../assets/images/couteau/couteau_12.jpg" alt="">

                            <div class="add-basket">
                                <a href="">Ajouter au paniers</a>
                            </div>
                        </div>
                        <div class="info-container">
                            <div class="header-texte">
                                <h6>Nakiri</h6>
                                <h6>$ 3000</h6>
                            </div>
                            <div class="container-info-txt">
                                <p class="para">eu metus vel nunc sodales placerat in in sem. Sed pharetra quis ex ac
                                    pretium.</p>
                                <p class="dimenssion">120/2323</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 1 -->
                    <div class="card">
                        <div class="card-img" (mouseenter)="showBasket($event)" (mouseleave)="hideBasket($event)">
                            <img src="../../../../../../assets/images/couteau/couteau_12.jpg" alt="">

                            <div class="add-basket">
                                <a href="">Ajouter au paniers</a>
                            </div>
                        </div>
                        <div class="info-container">
                            <div class="header-texte">
                                <h6>Nakiri</h6>
                                <h6>$ 3000</h6>
                            </div>
                            <div class="container-info-txt">
                                <p class="para">eu metus vel nunc sodales placerat in in sem. Sed pharetra quis ex ac
                                    pretium.</p>
                                <p class="dimenssion">120/2323</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 1 -->
                    <div class="card">
                        <div class="card-img" (mouseenter)="showBasket($event)" (mouseleave)="hideBasket($event)">
                            <img src="../../../../../../assets/images/couteau/couteau_12.jpg" alt="">

                            <div class="add-basket">
                                <a href="">Ajouter au paniers</a>
                            </div>
                        </div>
                        <div class="info-container">
                            <div class="header-texte">
                                <h6>Nakiri</h6>
                                <h6>$ 3000</h6>
                            </div>
                            <div class="container-info-txt">
                                <p class="para">eu metus vel nunc sodales placerat in in sem. Sed pharetra quis ex ac
                                    pretium.</p>
                                <p class="dimenssion">120/2323</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 1 -->
                    <div class="card">
                        <div class="card-img" (mouseenter)="showBasket($event)" (mouseleave)="hideBasket($event)">
                            <img src="../../../../../../assets/images/couteau/couteau_12.jpg" alt="">

                            <div class="add-basket">
                                <a href="">Ajouter au paniers</a>
                            </div>
                        </div>
                        <div class="info-container">
                            <div class="header-texte">
                                <h6>Nakiri</h6>
                                <h6>$ 3000</h6>
                            </div>
                            <div class="container-info-txt">
                                <p class="para">eu metus vel nunc sodales placerat in in sem. Sed pharetra quis ex ac
                                    pretium.</p>
                                <p class="dimenssion">120/2323</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 1 -->
                    <div class="card">
                        <div class="card-img" (mouseenter)="showBasket($event)" (mouseleave)="hideBasket($event)">
                            <img src="../../../../../../assets/images/couteau/couteau_12.jpg" alt="">

                            <div class="add-basket">
                                <a href="">Ajouter au paniers</a>
                            </div>
                        </div>
                        <div class="info-container">
                            <div class="header-texte">
                                <h6>Nakiri</h6>
                                <h6>$ 3000</h6>
                            </div>
                            <div class="container-info-txt">
                                <p class="para">eu metus vel nunc sodales placerat in in sem. Sed pharetra quis ex ac
                                    pretium.</p>
                                <p class="dimenssion">120/2323</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>