@import '../../../../styles/variables.scss';

img {
    height: 48px;
}

a {
    text-decoration: none;
}

header {
    position: relative;
}

.nav {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 167px;
    font-family: $lora;
}

.right-nav,
.nav__actions,
.container__left-item,
.container-icons {
    display: flex;
    // align-items: center;
}

.container__left-item {
    gap: 24px;
}

.container-icons {
    gap: 12px;
}

.nav__link {
    color: $color-dark;
    font-size: 17px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}

.nav__list {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    list-style-type: none;
    margin-left: 41px;
    gap: 32px;
    height: 100%;
}

.sign-in-min {
    display: none;
}

.dropdown {
    display: flex;
    gap: 5px;
    align-items: center;
    height: 100%;
}



.dropdown-menu {
    position: absolute;
    top: 90%;
    left: 0px !important;
    width: 100vw;
    background-color: $color-white;
    z-index: 100;
    padding: 24px calc(167px + (60 - 167) * ((1920px - 100vw) / (1920 - 1368)));
    opacity: 0;
    transition: opacity 0.2s ease-in, visibility 0.2s ease-in;
    visibility: hidden;
}

.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu li {
    list-style: none;
}


.arrow-item {
    width: 16px;
    height: 16px;
}

.nav_link-dropdown {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    width: 315px;
    justify-content: space-between;
    margin: 0 16px;
    padding: 16px 0;
    text-decoration: none;
    color: black;
    border-bottom: solid $color-gold 0.063rem;

    svg {
        transition: transform 0.2s ease-in-out;
    }

    &:hover svg {
        transform: translateX(5px);
    }
}

.filter-dropdown {
    position: fixed;
    top: 229px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Changez la couleur et l'opacité selon vos besoins
    visibility: hidden;
    transition: opacity 0.2s ease-in, visibility 0.2s ease-in;
    opacity: 0;
}

.filter-dropdown.show {
    opacity: 1;
    visibility: visible;
}

.arrow-down {
    transition: transform 0.3s ease;
    height: 10px;
    width: 9px;
    margin-top: -0.4rem;
}

.arrow-down.rotate {
    transform: rotate(180deg);
}

.container-drop-down {
    display: flex;
    height: 100%;
}

.container-drop-down hr {
    border: none;
    height: 106px;
    width: 0.063rem;
    background-color: $color-gold;
    margin-left: 1.75rem;
}

.nav_link-dropdown-produit {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;

    span {
        background-color: $color-gold;
        border-radius: 100px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;
        position: relative;
        height: 55px;

    }

    img {
        width: 70px;
        transition: opacity 0.3s ease, visibility 0.3s ease-in;
        position: absolute;
    }
}

.nav_link-dropdown-produit:hover {
    span {
        background-color: $color-green;
    }

    img:nth-child(2) {
        opacity: 1;
        visibility: visible;
    }

    img:nth-child(1) {
        opacity: 0;
        visibility: hidden;
    }
}

.nav_link-dropdown-produit img:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}

.container-produit {
    margin-left: 1.75rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.arrow-tel {
    display: none;
}



@media screen and (max-width: 1920px) and (min-width: 1368px) {
    .nav {
        margin: 24px calc(167px + (60 - 167) * ((1920px - 100vw) / (1920 - 1368)));
    }

    img {
        height: calc(46px + (43 - 46) * ((1920px - 100vw) / (1920 - 1368)));
    }
}

@media screen and (max-width: 1368px) and (min-width: 1122px) {
    .nav {
        margin: 24px calc(60px + (24 - 60) * ((1368px - 100vw) / (1368 - 1122)));
    }

    img {
        height: calc(43px + (40 - 43) * ((1368px - 100vw) / (1368 - 1122)));
    }

    .nav__list {
        gap: calc(32px + (20 - 32) * ((1368px - 100vw) / (1368 - 1122)));
    }
}

@media screen and (max-width: 1250px) {
    .container-produit {
        justify-content: start;
    }
}

@media screen and (max-width: 1122px) {
    .nav {
        margin: 24px 24px;
    }

    img {
        height: 40px;
    }

    .nav__list {
        gap: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: $color-white;
        width: 100%;
        height: 100%;
        box-shadow: 2px 0 12px hsla(0, 0%, 0%, 0.2);
        padding: 6rem 0 0 0;
        transition: right 0.4s;
        z-index: 1000;
    }

    .nav__list {
        margin-left: 0px;
    }

    .sign-in-default {
        display: none;
    }

    .sign-in-min {
        display: block;
    }

    // NAV
    .arrow-pc {
        display: none;
    }

    .arrow-tel {
        display: block;
    }

    .dropdown {
        height: auto;
        flex-direction: column;
        align-items: start;
    }

    .filter-dropdown {
        display: none;
    }

    .dropdown-menu {
        position: static;
        display: none;
        padding: 0;
    }
    .dropdown-menu-show{
        display: block;
    }

    .container-drop-down{
        flex-direction: column;
        hr{
            display: none;
        }
    }

    .container-produit{
        margin: 16px 0;
        flex-direction: column;
    }
    .nav_link-dropdown{
        margin: 0;
    }

    .nav__link, .nav_link-dropdown, .nav_link-dropdown-produit{
        font-size: 14px;
    }
    .nav_link-dropdown-produit img{
        height: 25px;
    }

    .nav_link-dropdown-produit span{
        width: 72px;
        height: 47px;
    }

    .nav_link-dropdown{
        justify-content: start;
        gap: 10px;
        width: 100%;
    }

    .container-drop-down{
        padding-right: 40px;
    }

    .nav__item {
        border-bottom: solid $color-gold 0.063rem;
        padding: 16px 0;
    }

    .more{
        width: 100%;
        justify-content: space-between;
    }

    .nav__list{
        gap: 0;
    }

    .nav__link{
        gap: 10px;
    }
}

.nav__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.container-icons {
    margin-right: 30px;
}

.show-menu {
    right: 0;
}

.menu {
    height: 24px;
}

.nav__toggle {
    display: contents;
}

@media screen and (max-width: 700px) and (min-width: 375px) {
    img {
        height: calc(40px + (26 - 40) * ((700px - 100vw) / (700 - 375)));
    }

    .nav {
        margin: calc(24px + (10 - 24) * ((700px - 100vw) / (700 - 375))) 24px;
    }

    .container-icons {
        margin-right: calc(30px + (10 - 30) * ((700px - 100vw) / (700 - 375)));
    }
}

@media screen and (max-width: 375px) {
    img {
        height: 26px;
    }

    .nav {
        margin: 10px 24px;
    }

    .container-icons {
        margin-right: 10px;
    }

}

/* For large devices */
@media screen and (min-width: 1024px) {

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__list {
        flex-direction: row;
    }
}