# Backend Environment Variables
DATABASE_URL=postgres://postgres:postgres@localhost:5432/medusa-db
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret

# Frontend Environment Variables
NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=your_publishable_key_here
