<section>
  <div class="container">
    <div class="container-content">
      <div class="container-img">
        <p>
          <a [routerLink]="['/produit', '']" style="cursor: pointer;">Produits</a> > 
          <a [routerLink]="['/produit', couteau?.categorie?.toLowerCase() || '']" style="cursor: pointer;">
            {{ couteau?.categorie || 'Chargement...' }}
          </a>
        </p>
        <div class="grande-image" #imageContainer>
          <img [src]="imagePrincipale" alt="Image principale" 
               (mousemove)="zoomImage($event)" 
               (mouseleave)="resetZoom()"
               (mouseenter)="enableZoom()"
               #zoomImg>
        </div>
        <div class="petite-image">
          <div class="container-petit-img" *ngFor="let image of images">
            <img [src]="image" (click)="changerImagePrincipale(image)" alt="Miniature" class="miniature">
          </div>
        </div>
      </div>
      <div class="container-text">
        <h3>{{ couteau?.nom }}</h3>
        <h4>{{ couteau?.prix | currency }}</h4>
        <p>{{ couteau?.texte }}</p>
        <div class="container-basket">
          <a class="add-basket">Ajouter au panier</a>
        </div>
      </div>
    </div>
  </div>
</section>