@import url('../assets/font/Satoshi/css/satoshi.css');

// COLOR 
$color-dark: #2B2B2F;
$color-green: #98957F;
$color-brown: #49443B;
$color-white: #fffff6;
$color-gold: #dcd2bb;
$color-black: #000000;
$color-blanc: #ffffff;
// FONT SIZE
$h1-size: clamp(27px, 4.47vw, 84px);
$h2-size: clamp(42px, 3.5vw + 1rem, 71px);
$p-size: clamp(16px, 1.4vw, 20px);
$btn-size: clamp(16px, 0.3vw + 1rem, 22px);
  
// FONT FAMILY
$lora: "Lora", serif;
$bodoni: "Bodoni Moda", serif;
$satoshi:  'Satoshi-Variable';

// FONT WEIGHT
$regular: 400;
$black: 900;
$medium: 500;
$bold: 700;
$light: 300;

h1 {
    font-size: $h1-size;
    font-family: $satoshi;
    color: $color-white;
    font-weight: $black;
    text-transform: uppercase;
}

h2 {
    font-size: $h2-size;
    font-family: $bodoni;
    color: $color-white;
    font-weight: $regular;
}

p {
    font-size: $p-size;
    font-family: $satoshi;
    color: $color-white;
    font-weight: $regular;
}

