// COLOR 
$color-dark: #2B2B2F;
$color-green: #49443B;
$color-white: #fffff6;

// FONT SIZE
$h1-size: clamp(27px, 4vw + 1rem, 84px);
$p-size: clamp(16px, 1vw + 1rem, 20px);
$p-size-pc: 20px;

// FONT FAMILY
$lora: "Lora", serif;
$bodoni: "Bodoni Moda", serif;
$satoshi:  'Satoshi-Variable';

// FONT WEIGHT
$regular: 400;


