<app-banniere-produit></app-banniere-produit>
<section>
    <div class="container-produit">

        <div class="container-card">
            <div>
                <div class="scroll-container">
                    <div class="btn-container">
                        <button>Voir Tout</button>
                        <button>Couteaux de Cuisine</button>
                        <button>Couteaux Outdor</button>
                        <button>Couteaux D'exception</button>
                    </div>
                </div>
                <div class="masonry" >
                    <div class="masonry-item">
                      <img alt="Image Gallery">
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>