<app-banniere-produit></app-banniere-produit>
<section>
  <div class="container-produit">
    <div class="container-card">
      <div class="scroll-container">
        <div class="btn-container">
          <button [routerLink]="['/galerie']" routerLinkActive="active-btn" [routerLinkActiveOptions]="{ exact: true }">
            Voir Tout
          </button>
          <button [routerLink]="['/galerie', 'cuisine']" routerLinkActive="active-btn">
            Couteaux de Cuisine
          </button>
          <button [routerLink]="['/galerie', 'outdoor']" routerLinkActive="active-btn">
            Couteaux Outdoor
          </button>
          <button [routerLink]="['/galerie', 'pliant']" routerLinkActive="active-btn">
            Couteaux Pliant
          </button>
          <button [routerLink]="['/galerie', 'exception']" routerLinkActive="active-btn">
            Couteaux d'Exception
          </button>
        </div>
      </div>
      <div class="container">
        <figure *ngFor="let image of images">
          <img [src]="'http://localhost:5000/' + image.image" [alt]="image.title" />
        </figure>
      </div>
    </div>
  </div>
</section>