<section>
    <div class="container-dernier-couteau">
        <div class="container-text">
            <div class="container-ligne-1">
            <h1>Derniers couteaux</h1>
            <p class="txt-pc">Ces couteaux sont encore disponibles à la vente.</p>
                <div class="container-btn un">
                    <a href="">Voire plus <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path></svg></a>
                </div>
            </div>
            <p class="txt-tel">Ces couteaux sont encore disponibles à la vente.</p>
           
        </div>

        <div class="container-card">
            <article>
                <div class="card">
                    <div class="img-container">
                        <div class="img"><img src="../../../../../../assets/images/couteau/couteau_12.jpg" alt=""></div>
                        <div class="like"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart">
                                <path
                                    d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z" />
                            </svg></div>
                    </div>
                    <div class="info-container">
                        <div class="txt">
                            <p>Couteau de cuisine</p>
                            <p>$143</p>
                        </div>
                        <div class="fleche-more">
                            <div class="container-fleche">
                                <img src="../../../../../../assets/icons/swiper/arrow.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class="card">
                    <div class="img-container">
                        <div class="img"><img src="../../../../../../assets/images/couteau/couteau_12.jpg" alt=""></div>
                        <div class="like"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart">
                                <path
                                    d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z" />
                            </svg></div>
                    </div>
                    <div class="info-container">
                        <div class="txt">
                            <p>Couteau de cuisine</p>
                            <p>$143</p>
                        </div>
                        <div class="fleche-more">
                            <div class="container-fleche">
                                <img src="../../../../../../assets/icons/swiper/arrow.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class="card">
                    <div class="img-container">
                        <div class="img"><img src="../../../../../../assets/images/couteau/couteau_12.jpg" alt=""></div>
                        <div class="like"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart">
                                <path
                                    d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z" />
                            </svg></div>
                    </div>
                    <div class="info-container">
                        <div class="txt">
                            <p>Couteau de cuisine</p>
                            <p>$143</p>
                        </div>
                        <div class="fleche-more">
                            <div class="container-fleche">
                                <img src="../../../../../../assets/icons/swiper/arrow.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class="card">
                    <div class="img-container">
                        <div class="img"><img src="../../../../../../assets/images/couteau/couteau_12.jpg" alt=""></div>
                        <div class="like"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart">
                                <path
                                    d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z" />
                            </svg></div>
                    </div>
                    <div class="info-container">
                        <div class="txt">
                            <p>Couteau de cuisine</p>
                            <p>$143</p>
                        </div>
                        <div class="fleche-more">
                            <div class="container-fleche">
                                <img src="../../../../../../assets/icons/swiper/arrow.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="container-btn deux">
            <a href="">Voire plus <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path></svg></a>
        </div>
    </div>
</section>