<section>
    <div class="container-hero">
        <h2>Forge Elidor</h2>
        <h1>COUTELIER DANS LA VALLÉE DE MUNSTER</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor consequat ligula, sit amet
            vestibulum mi consequat a. Mauris sollicitudin ligula sit amet elit bibendum, id consequat lorem hendrerit.
        </p>
        <div class="btn">
            <a href="#">Voire Plus</a>
        </div>
    </div>

    <div class="container-slider">
        <!-- hero.component.html -->




        <div class="rond-voir-plus">
            <img src="../../../../../../assets/icons/swiper/rond-voire-plus.svg" alt="">
            <img src="../../../../../../assets/icons/swiper/arrow.svg" alt="">
        </div>
    </div>


</section>