@import '../../../../../../styles/variables.scss';

.container-section {
    display: flex;
    align-items: stretch; /* Assure que les enfants prennent la même hauteur */
    flex-direction: column;
}

.container-hero,
.container-slider {
    flex: 1; /* Les deux divs prennent des largeurs égales */
    margin: 0 6px;
}

.container-hero {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre le contenu verticalement */
    background-color: $color-green;
    padding: 37px 10px 44px 29px;
    border-radius: 46px;
}

h1 {
    font-size: $h1-size;
    font-family: $satoshi;
    color: $color-white;
    font-weight: $black;
}

h2 {
    font-size: $h2-size;
    font-family: $bodoni;
    color: $color-white;
    font-weight: $regular;
    margin-top: 9px;
}

p {
    font-size: $p-size;
    font-family: $satoshi;
    color: $color-white;
    font-weight: $regular;
    margin-top: 22px;
}

a {
    color: $color-black;
    text-decoration: none;
    font-family: $satoshi;
    font-weight: $medium;
    background-color: $color-blanc;
    padding: 10.5px 34.5px;
    border-radius: 55px;
    font-size: $btn-size;
}

.btn {
    margin-top: 37.5px;
}

.container-slider {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre le contenu verticalement */
    margin-top: 21px;
}

.slide img {
    width: 100%;
    height: 454px; 
    object-fit: cover; /* Couvre l'espace disponible */
    object-position: center;
    border-radius: 53px;
}

.rond-voir-plus {
    position: absolute;
    top: 25px;
    right: 19px;
    z-index: 1;
    width: 120px;
    height: 120px;
}

.rond-voir-plus img:nth-child(1) {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotation 15s infinite linear;
}

.rond-voir-plus img:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 30px;
    height: 30px;
}

.container-rond .rond-voir-plus img:last-child {
    transition: transform 0.3s ease;
}

.container-rond:hover .rond-voir-plus img:last-child {
    transform: translate(-35%, -50%);
}

// SLIDER 
/* swiper.component.scss */
.swiper-container {
    position: relative;
    width: 100%;
    height: 100%; /* Prend toute la hauteur du parent */
    overflow: hidden;
}

.swiper {
    display: flex;
    height: 100%; /* Prend toute la hauteur du parent */
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
  }

button {
    background-color: $color-blanc;
    border: none;
    padding: 14px 5px;
    cursor: pointer;
    border-radius: 100px;
}

.arrow-nex {
    background-color: transparent;
    border: 2px solid $color-blanc;
    color: $color-blanc;
}

.container-btn {
    display: inline-flex;
    flex-direction: column;
    gap: 6px;
}

.pagination {
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin: auto 0;
}

.pagination span {
    height: 33.22px;
    width: 7.67px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    cursor: pointer;
}

.pagination .active {
    background-color: white;
}

.container-controleur {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: absolute;
    bottom: 35px;
    right: 25.5px;
    height: 65%;
}
.container-rond{
    padding: 0;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 800px) {
    .container-section{
        flex-direction: row;
    }
    .slide img {
        height: 100%; /* Prend toute la hauteur du parent */
    }

    .container-controleur {
        height: 72%;
    }

    .container-slider{
        margin-top: 0px;
    }


}
