<main>
    <section id="header-produit-container">
        <div class="header-produit">
            <img src="../../../../../../assets/images/produit/banniere-produit/banniere-cuisine.jpg" alt="">
            <div class="txt-header">
                <span>Produits > Couteaux de cuisine</span>
                <div class="container-centre">
                    <h3>Couteaux de cuisine</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla malesuada dictum ante id dignissim. Etiam convallis elit vel tortor imperdiet molestie. Etiam malesuada eget metus ultricies pharetra. </p>
                </div>
            </div>
        </div>
    </section>
</main>