<main>
    <section id="header-produit-container">
        <div class="header-produit">
            <img [src]="bannerImage" [alt]="currentCategory">
            <div class="txt-header">
                <span>Produits > {{ currentCategory }}</span>
                <div class="container-centre">
                    <h3>{{ currentCategory }}</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla malesuada dictum ante id dignissim. Etiam convallis elit vel tortor imperdiet molestie. Etiam malesuada eget metus ultricies pharetra.</p>
                </div>
            </div>
        </div>
    </section>
</main>